.introducao-bg{
    background-color: $color-12;
    color: $color-white;
    box-shadow: inset 0 -120px #fff;
}
.introducao{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}
.introducao h1{
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 1.125;
  span{
    color: $c-primary-1;
  }
}
.introducao img{
  height: 100%;
  object-fit: cover;
  border-radius: 4px;

}

.introducao p{
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: $color-05;
}
.introducao a{
    display: inline-block;
    padding: 16px 32px;
    background:linear-gradient(#ffbf00,#f2a50c);
    border-radius: 4px;
    box-shadow: 0 1px 2px  rgba(0, 0, 0, .1);
    text-transform: uppercase;
    color: $c-primary-5;
    font-size: 1.125;
    line-height: 1.33;
    font-weight: bold;
}
.introducao a:hover{
    background:linear-gradient(#ffb60d,#e59317);
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}