@media(max-width:800px){
    .header-menu{
        gap: 20px;
    }
    .header-menu a{
        background: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }
    .header-menu a:hover{
        background: #2e2e2e;
    }
    .header-menu a::after{
        display: none;
    }
}
@media(max-width:600px){
    .header-menu{
        gap: 12px;
    }
    .header-menu a{
        padding: 8px 12px;
        font-size: 0.875rem;
        
    }
}