/* Cores tons de cinza */
$color-12:#000;
$color-11:#111;
$color-10:#2e2e2e;
$color-09:#404040;
$color-08:#595959;
$color-07:#717171;
$color-06:#9c9c9c;
$color-05:#b2b2b2;
$color-04:#ccc;
$color-03:#dedede;
$color-02:#ededed;
$color-01:#f7f7f7;
$color-white:#fff;
/* Cores Primarias */
$c-primary-5:#332200;
$c-primary-4:#664400;
$c-primary-3:#a66f00;
$c-primary-2:#E4A30B;
$c-primary-1:#FFBB00;


